extends ../layout

block content
  .page-header
    h2
      i.fa.fa-facebook-square(style='color: #335397')
      | #{fbEvent.name}

  .lead hosted by #{fbEvent.owner.name}


  .panel.panel-default
    .panel-body
      .clearfix
        if useEventPicture
          img.pull-left(src=fbEvent.picture, style='margin-right: 10px')

        =fbEvent.name
        small.text-muted  no text
        br
        p !{fbEvent.description.replace(/\n/g, '<br/>')}
        if useEventCover
          img.pull-center(src=fbEvent.cover.source, style='margin-right: 10px')
