.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') FlyerPost
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=title.indexOf('Find Events') != -1 ?'active':undefined)
          a(href='/') Find
        li(class=title.indexOf('Create Event') != -1 ?'active':undefined)
          a(href='/events/create') Create
        li(class=title.indexOf('API Browser') != -1 ?'active':undefined)
          a(href='/api') API Browser
        li(class=title.indexOf('Contact') != -1 ?'active':undefined)
          a(href='/contact') Contact
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title.indexOf('Login') != -1 ?'active':undefined)
            a(href='/login') Login
          li(class=title.indexOf('Create Account') != -1  ? 'active':undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=title.indexOf('Account Management') != -1 ? 'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img.profile-image(src='#{user.profile.picture}')
              else
                img.profile-image(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li: a(href='/account') My Account
              li.divider
              li: a(href='/logout') Logout
